$pad-sm: 4px;
$pad-md: $pad-sm * 2;

:host {
  flex: 1 0 auto;
}

table {
  width: 100%;
}
.mat-column-createdAt {
  flex: 0 0 204px;
  width: 204px ;
}
.mat-column-url {
  word-wrap: break-word;
  white-space: unset;
  flex: 0 0 auto;
  width: auto;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}
